# Build results
bin/
obj/
[Bb]uild/
[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Compiled binaries
*.dll
*.exe
*.pdb
*.cache

# Others
*.log

# Setup
App.config
connectDB.cs